{% extends "base.html" %}
{% load i18n mezzanine_tags keyword_tags %}

{% block meta_title %}{% if person %}{{ person.full_name }}{% else %}{% trans "Person" %}{% endif %}{% endblock %}
{% block body_id %}body-person{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for person as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ person.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "People" %}
{% endif %}
{% endblock %}

{% block main %}
  <div class="hero-unit">
    <div class="row">
      <div class="span8">
        <p>{{ person.full_name }}, {{ person.job_title }}</p>
      </div>
    </div>
  </div>

  <hr />

  <section class="row">

    <!-- person item-->
        {% editable person.first_name person.last_name person.title person.bio %}
    <div class="span4">

      <div class="thumbnail">
        <!-- image -->
        <img src="{{ MEDIA_URL }}{% thumbnail person.mugshot 300 0 %}" />
      </div>

    </div>
    {% endeditable %}

  </section>

  <section class="row">

    <div class="span8 member-detail">

      <p class="member-networks">
      {% for link in person.personlink_set.all %}
        {% if link.name == "blog" %}
        <a href="{{ link.url }}" class="icon-bullhorn"></a>
        {% elif link.name == "twitter" %}
        <a href="{{ link.url }}" class="icon-twitter"></a>
        {% elif link.name == "facebook" %}
        <a href="{{ link.url }}" class="icon-facebook"></a>
        {% elif link.name == "linkedin" %}
        <a href="{{ link.url }}" class="icon-linkedin"></a>
        {% elif link.name == "googleplus" %}
        <a href="{{ link.url }}" class="icon-google-plus"></a>
        {% else %}
        <a href="{{ link.url }}" class="icon-globe"></a>
        {% endif %}
      {% endfor %}
      </p>

      <p class="member-bio">
        {{ person.bio|richtext_filters|safe }}
      </p>

    </div>

  </section>

{% endblock %}
